USE [master]
GO
/****** Object:  Database [Proyecto_VII]    Script Date: 14/07/2019 12:24:08 ******/
CREATE DATABASE [Proyecto_VII]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Proyecto_VII', FILENAME = N'C:\Program Files\Sql server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Proyecto_VII.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Proyecto_VII_log', FILENAME = N'C:\Program Files\Sql server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Proyecto_VII_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proyecto_VII].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Proyecto_VII]
GO
/****** Object:  StoredProcedure [dbo].[sp_Buscar_Cliente]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sergio Floreano
-- Create date: 20/06/2019
-- Description:	Buscar usuario por cedula, nombres o apellidos
-- =============================================
Create procedure [dbo].[sp_Buscar_Cliente]
( @cadena varchar(20), @opcion varchar )

as
begin

if(@opcion = '1')		--Buscar por cedula 
 begin
	  select top(10) c.cli_cedula,( c.cli_apellidos + ' ' + c.cli_nombres) as nombres, c.cli_estado
	  from Cliente c where c.cli_estado = 'A' and c.cli_cedula like @cadena + '%'
 end

if(@opcion = '2') -- Buscar por Apellidos
 begin
	 select top(10) c.cli_cedula,( c.cli_apellidos + ' ' + c.cli_nombres) as nombres, c.cli_estado
	  from Cliente c where c.cli_estado = 'A' and c.cli_apellidos like @cadena + '%'
 end

end

--select * from Cliente
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_combo]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--============================
-- Author:		Sergio Floreano
-- Create date: 22/0672019
-- Description:	Buscar Combo 
--=================================
CREATE PROCEDURE [dbo].[sp_buscar_combo]
( @cadena varchar(20), @opcion varchar )

as
begin

if(@opcion = '1')		--Buscar por Código
 begin
	  select top(10) c.com_id, c.com_codigo,
	  (select top(1) mod_descripcion from Modalidad m where m.mod_id = c.mod_id) as modalidad,
	  c.com_contenido1, com_bebida, com_precio, com_estado, com_posee_descuento as descuento, com_porcentaje_descuento as porcentaje
	  from Combo c 
	  where com_codigo like @cadena + '%' and com_estado = 'A'
 end

if(@opcion = '2') -- Buscar por contenido1
 begin
	  select top(10) c.com_id,c.com_codigo,
	  (select top(1) mod_descripcion from Modalidad m where m.mod_id = c.mod_id) as modalidad,
	  c.com_contenido1, com_bebida, com_precio, com_estado, com_posee_descuento as descuento, com_porcentaje_descuento as porcentaje
	  from Combo c 
	  where com_contenido1 like @cadena + '%' and com_estado = 'A'
 end
 end

-- select * from Combo
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_genero]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[sp_buscar_genero]
( @texto varchar(25))
as
begin
	select top(10) * from Sexo where sexo.sex_descripcion like @texto + '%' and sex_estado = 'A'
end

GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_mesa]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[sp_buscar_mesa]
(@mesa_codigo varchar)
as 
begin
	select top(10) * from Mesa where mesa_estado = 'A' and mesa_codigo like @mesa_codigo + '%' 
end
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_modalidad]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[sp_buscar_modalidad]
(@mod_descripcion varchar(100))
as
begin
	select top(10) * from Modalidad where mod_estado = 'A' and mod_descripcion like @mod_descripcion + '%'
end
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_perfil]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_buscar_perfil]
(@buscar varchar(25))
as
Begin
	select top(10) *  from seg_Perfil where per_nombre like @buscar + '%' and per_estado = 'A'  
End

GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_plato]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sergio Floreano
-- Create date: 22/0672019
-- Description:	Buscar platos 
-- =============================================
CREATE procedure [dbo].[sp_buscar_plato]
( @cadena varchar(20), @opcion varchar )

as
begin

if(@opcion = '1')		--Buscar por Código
 begin
	 select top(10) men_id, men_codigo, men_plato,
	 (select top(1) mod_descripcion from Modalidad m where m.mod_id = men.mod_id) as modalidad,
	  men_precio, men_estado from Menu men where men_estado = 'A' and men_codigo like @cadena + '%'

 end

if(@opcion = '2') -- Buscar por Plato-nombre
 begin
	 select top(10) men_id,men_codigo, men_plato,
	 (select top(1) mod_descripcion from Modalidad m where m.mod_id = men.mod_id) as modalidad,
	  men_precio, men_estado from Menu men where men_estado = 'A' and men_plato like @cadena + '%'
 end
end

GO
/****** Object:  StoredProcedure [dbo].[sp_Buscar_usuario]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sergio Floreano
-- Create date: 20/06/2019
-- Description:	Buscar usuario por cedula, nombres o apellidos
-- =============================================
CREATE procedure [dbo].[sp_Buscar_usuario]
( @cadena varchar(20), @opcion varchar )

as
begin

if(@opcion = '1')		--Buscar por cedula 
 begin
	  select top(10)usu_cedula,per_nombre,(usu_apellidos + ' '+ usu_nombres) as nombres,usu_estado
	  from seg_usuarios,seg_perfil 
	  where seg_usuarios.per_id=seg_perfil.per_id and seg_Usuarios.usu_cedula like @cadena +'%' and seg_Usuarios.usu_estado = 'A'
 end

if(@opcion = '2') -- Buscar por Apellidos
 begin
	  select top(10)usu_cedula,per_nombre,(usu_apellidos + ' '+ usu_nombres) as nombres,usu_estado
	  from seg_usuarios,seg_perfil 
	  where seg_usuarios.per_id=seg_perfil.per_id and seg_Usuarios.usu_apellidos like @cadena +'%' and seg_Usuarios.usu_estado = 'A'
 end
 else			--Buscar por Nombres
 begin
	  select top(10)usu_cedula,per_nombre,(usu_apellidos + ' '+ usu_nombres) as nombres,usu_estado
	  from seg_usuarios,seg_perfil 
	  where seg_usuarios.per_id=seg_perfil.per_id and seg_Usuarios.usu_nombres like @cadena +'%' and seg_Usuarios.usu_estado = 'A'
 end
end

GO
/****** Object:  StoredProcedure [dbo].[sp_cab_movimientoVenta]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--------------------------------------------------------------
create procedure [dbo].[sp_cab_movimientoVenta]
(
@CAB_NUM_DOC numeric(18,0),
@CAB_TIPOMOV varchar(3),
@PER_ID numeric(18,0),
@CAB_FECHA date,
@CAB_BASE_0 numeric(9,2),
@CAB_BASE_IMPONIBLE numeric(9,2),
@CAB_IVA numeric(9,2),
@CAB_VALOR_TOTAL numeric(9,2),
@CAB_ESTADO varchar(1),
@USU_ID int,
@FECHA_INGRESO date

)
as
begin
INSERT INTO [CAB_MOVIMIENTO]
           ([CAB_NUM_DOC]
           ,[CAB_TIPOMOV]
           ,[cli_id]
           ,[CAB_FECHA]
           ,[CAB_BASE_0]
           ,[CAB_BASE_IMPONIBLE]
           ,[CAB_IVA]
           ,[CAB_VALOR_TOTAL]
           ,[CAB_ESTADO]
           ,[USU_ID]
           ,[FECHA_INGRESO]
           ,[USU_ID_MOD]
           ,[FECHA_MODIFIC])
     VALUES
           (@CAB_NUM_DOC,
			@CAB_TIPOMOV,
			@PER_ID ,
			@CAB_FECHA ,
			@CAB_BASE_0 ,
			@CAB_BASE_IMPONIBLE,
			@CAB_IVA,
			@CAB_VALOR_TOTAL,
			@CAB_ESTADO ,
			@USU_ID ,
			@FECHA_INGRESO,
			@USU_ID ,
			@FECHA_INGRESO )
end

GO
/****** Object:  StoredProcedure [dbo].[sp_cargar_pedidos_activos]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sergio Floreano
-- Create date: 23/06/2019
-- Description:	Filtrar pedidos para la seccion cocina
-- =============================================
CREATE PROCEDURE [dbo].[sp_cargar_pedidos_activos]
(@estado_pedido int)
AS
BEGIN
	select 
	 p.ped_id as id,
	 p.pe_codigo as codigo_pedido,
	 (select m.mesa_codigo from Mesa m where m.mesa_id = p.mesa_id) as codigo_mesa,
	 (select e.ep_descripcion from Estado_pedido e where e.ep_id = p.ep_id) as estado
	from Pedido p where p.ped_estad = 'A' and p.ep_id = @estado_pedido order by id asc
END

GO
/****** Object:  StoredProcedure [dbo].[sp_consultar_pedidos]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sergio Floreano
-- Create date: 23/06/2019
-- Description:	Consultar estado de los pedidos
-- =============================================
CREATE PROCEDURE [dbo].[sp_consultar_pedidos]
(@estado_pedido_id int, @codgo_pedido as varchar(10))
AS
BEGIN
	
	Select top(20)
	p.ped_id as id,
	p.pe_codigo as codigo,
	(select top(1) c.cli_apellidos + ' ' + c.cli_nombres from Cliente c where c.cli_id = p.cli_id) as cliente,
	(select top(1) m.mesa_codigo from Mesa m where m.mesa_id = p.mesa_id) as mesa,
	(select top(1) e.ep_descripcion from Estado_pedido e where e.ep_id = p.ep_id) as estado
	from Pedido p where p.ped_estad = 'A'and p.ep_id = @estado_pedido_id and p.pe_codigo like @codgo_pedido + '%' 
	order by id asc

END

GO
/****** Object:  StoredProcedure [dbo].[sp_despachar_pedido]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sergio Floreano
-- Create date: 23/06/2019
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_despachar_pedido] 
(@id_pedido as int, @id_estado int)
AS
BEGIN
	Update Pedido
	set 
	ep_id = @id_estado
	where ped_id = @id_pedido
END

GO
/****** Object:  StoredProcedure [dbo].[sp_detalle_pedidos]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_detalle_pedidos]
(
@CAB_ID numeric(18,0),
@PED_ID int,
@DET_PEDIDO varchar(50),
@DET_TIPO varchar(25),
@DET_CANTIDAD int,
@DET_PRECIO nchar(10),
@DET_DESCUENTOS BIT ,
@DET_SUBTOTAL numeric(6,2),
@DET_TOTAL numeric(8,2)

)
as
begin
INSERT INTO [dbo].[Detalles_pedidos]
           ([CAB_ID]
           ,[ped_id]
		   ,[det_pedido]
		   ,[det_tipo]
           ,[DET_CANTIDAD]
           ,[DET_PRECIO]
           ,[det_descuento]
           ,[det_subtotal]
           ,[DET_TOTAL]
           )
     VALUES
				(@CAB_ID,
				@PED_ID ,
				@DET_PEDIDO,
				@DET_TIPO ,
				@DET_CANTIDAD ,
				@DET_PRECIO ,
				@DET_DESCUENTOS ,
				@DET_SUBTOTAL ,
				@DET_TOTAL 
				)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_combo]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[sp_eliminar_combo]
(@com_id as int)
as 
begin
	Update Combo
	set
	com_estado = 'I'
	where com_id =  @com_id
end
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_mesa]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[sp_eliminar_mesa]
(@mesa_id int)
as
begin
	Update Mesa
	set 
		mesa_estado = 'I'
	where mesa_id = @mesa_id
end
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_modalidad]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_eliminar_modalidad]
(@mod_id int)
as
begin
	Update Modalidad
	set
	mod_estado = 'I'
	where mod_id = @mod_id
end

GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_perfil]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[sp_eliminar_perfil]
(@per_id int)
as 
begin
	Update seg_Perfil
	set 
	per_estado = 'I'
	where per_id = @per_id
end
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_plato]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[sp_eliminar_plato]
(@men_id int)
as 
begin
	Update Menu
	set
	men_estado = 'I'
	where men_id = @men_id
end
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_sexo]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[sp_eliminar_sexo]
(@sex_id int)
as
begin
	Update Sexo
	set
	sex_estado = 'I'
	where sex_id = @sex_id
end

GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_usuario]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sergio Floreno
-- Create date: 20/06/2019
-- Description:	Actualiza el estado del usuario para quedar inactivo
-- =============================================
CREATE PROCEDURE [dbo].[sp_eliminar_usuario]
(@usu_id as int )
as 
begin
	Update seg_Usuarios 
	set 
	usu_estado = 'I'
	where usu_id = @usu_id
end

GO
/****** Object:  StoredProcedure [dbo].[sp_inserta_actualiza_mesa_2]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_inserta_actualiza_mesa_2]
	-- Add the parameters for the stored procedure here
(@mesa_id int,@mesa_n_asientos int, @mesa_estado char(1),@mesa_codigo varchar(10),@mesa_descripcion varchar(200))
AS
BEGIN
	if(@mesa_id = 0) --Inserta
	begin
		INSERT INTO [dbo].[Mesa]
           ([mesa_n_asientos]
           ,[mesa_estado]
           ,[mesa_codigo]
           ,[mesa_descripcion])
     VALUES
           (@mesa_n_asientos, @mesa_estado, @mesa_codigo, @mesa_descripcion)
	end
	else --Actualiza
	begin
		Update Mesa
		set
			mesa_n_asientos = @mesa_n_asientos,
			mesa_estado = @mesa_estado,
			mesa_codigo = @mesa_codigo,
			mesa_descripcion = @mesa_descripcion
			where mesa_id = @mesa_id
	end
END

GO
/****** Object:  StoredProcedure [dbo].[sp_inserta_actualiza_perfil]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_inserta_actualiza_perfil] 
(	@per_id int, @per_nombre varchar(25), @per_descipcion varchar(200), @per_estado char 
)
AS
BEGIN
	if(@per_id = 0)	 --Inserta
	begin
		insert into seg_Perfil(per_nombre, per_descripcion, per_estado) values(@per_nombre, @per_descipcion, @per_estado)
	end
	else			--Actualiza
	begin
		Update  seg_Perfil
		set 
			per_nombre = @per_nombre, 
			per_descripcion = @per_descipcion,
			per_estado = @per_estado 
			where per_id = @per_id
	end
END

GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_actualizar_cliente]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sergio Floreano
-- Create date: 23/06/2019
-- Description:	Actualiza y o Registrar Clientes
-- =============================================
CREATE PROCEDURE [dbo].[sp_insertar_actualizar_cliente]
(@cli_id as integer, @cli_cedula varchar(10),  @cli_nombres varchar(50), @cli_apellidos varchar(50),
 @sex_id int,  @cli_direccion varchar(250),  @cli_celular varchar(10),  @cli_correo varchar(100), @cli_estado char(1)
)
AS
BEGIN
	if(@cli_id = 0)
	begin
		INSERT INTO [dbo].[Cliente]
			   ([cli_cedula]
			   ,[cli_nombres]
			   ,[cli_apellidos]
			   ,[sex_id]
			   ,[cli_direccion]
			   ,[cli_celular]
			   ,[cli_correo]
			   ,[cli_estado])
		 VALUES
			   (@cli_cedula,@cli_nombres,@cli_apellidos,@sex_id,@cli_direccion,@cli_celular,@cli_correo,@cli_estado)
	end
	else
	begin
		UPDATE [dbo].[Cliente]
		   SET [cli_cedula] = @cli_cedula
			  ,[cli_nombres] = @cli_nombres
			  ,[cli_apellidos] = @cli_apellidos
			  ,[sex_id] = @sex_id
			  ,[cli_direccion] = @cli_direccion
			  ,[cli_celular] = @cli_celular
			  ,[cli_correo] = @cli_correo
			  ,[cli_estado] = @cli_estado
		 WHERE cli_id = @cli_id
	end
END

GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_actualizar_combo]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sergio Floreano
-- Create date: 22/06/2019
-- Description:	Guardar y actualizar Combos
-- =============================================
CREATE PROCEDURE [dbo].[sp_insertar_actualizar_combo] 
(@com_id int ,@com_codigo varchar(10) ,@mod_id int ,@com_contenido1 varchar(75),@com_contenido2 varchar(75),
@com_contenido3 varchar(75) ,@com_bebida varchar(50) ,@com_imagen image,@com_precio decimal(6,2) ,@com_posee_descuento bit,
@com_porcentaje_descuento int ,@com_estado char)

AS
BEGIN
	if(@com_id = 0)		--Inserta
	begin
	INSERT INTO [dbo].[Combo] ([com_codigo] ,[mod_id],[com_contenido1],[com_contenido2]
           ,[com_contenido3] ,[com_bebida],[com_imagen] ,[com_precio],[com_posee_descuento]
           ,[com_porcentaje_descuento],[com_estado])
     VALUES
           (@com_codigo
           ,@mod_id
           ,@com_contenido1
           ,@com_contenido2
           ,@com_contenido3
           ,@com_bebida 
           ,@com_imagen 
           ,@com_precio 
           ,@com_posee_descuento 
           ,@com_porcentaje_descuento
           ,@com_estado)
	end 
	else				--Actualiza
	begin
	UPDATE [dbo].[Combo]
	   SET [com_codigo] = @com_codigo 
		  ,[mod_id] = @mod_id
		  ,[com_contenido1] = @com_contenido1
		  ,[com_contenido2] = @com_contenido2 
		  ,[com_contenido3] = @com_contenido3 
		  ,[com_bebida] = @com_bebida
		  ,[com_imagen] = @com_imagen 
		  ,[com_precio] = @com_precio 
		  ,[com_posee_descuento] = @com_posee_descuento 
		  ,[com_porcentaje_descuento] = @com_porcentaje_descuento
		  ,[com_estado] = @com_estado
	 WHERE com_id = @com_id
	end
END

GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_actualizar_detallePedido]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_insertar_actualizar_detallePedido]
 @ped_id int, @dep_codigo_pedido_bebida int,  @det_pedido varchar(50), @det_tipo varchar(25),
 @det_cantidad int, @det_precio decimal(6,2), @det_descuento bit,@det_porcentaje int, @det_subtotal decimal(6,2),@det_total decimal(8,2)
AS
BEGIN
INSERT INTO [dbo].[Detalle_Pedido]
           ([ped_id]
           ,[dep_codigo_pedido_bebida]
           ,[det_pedido]
           ,[det_tipo]
           ,[det_cantidad]
           ,[det_precio]
           ,[det_descuento]
           ,[det_porcentaje]
           ,[det_subtotal]
           ,[det_total])
     VALUES
           (
		   @ped_id,  @dep_codigo_pedido_bebida, @det_pedido,@det_tipo,@det_cantidad,@det_precio,@det_descuento,@det_porcentaje,
		   @det_subtotal,@det_total)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_actualizar_genero]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[sp_insertar_actualizar_genero]
(@sex_id int, @sex_descripcion varchar(25), @sex_estado char)
as
begin
	if(@sex_id = 0) -- Insertar
	begin
		Insert into Sexo(sex_descripcion, sex_estado) values(@sex_descripcion, @sex_estado)
	end
	else    ---Actualizar
	begin
		Update Sexo 
		set 
			sex_descripcion = @sex_descripcion,
			sex_estado = @sex_estado
			where sex_id = @sex_id
	end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_actualizar_pedido]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sergio Floreano
-- Create date: 3/06/2019
-- Description:	Insertar o actualizar un Pedido
-- =============================================
CREATE PROCEDURE [dbo].[sp_insertar_actualizar_pedido]
(@ped_id int, @usu_id int,  @cli_id int, @mesa_id int, @ep_id int,@ped_observacion varchar(250),@ped_estad char,
@pe_codigo varchar(10))
as
BEGIN
	if(@ped_id = 0)
	begin
		INSERT INTO [dbo].[Pedido]
           ([usu_id]
           ,[cli_id]
           ,[mesa_id]
           ,[ep_id]
           ,[ped_observacion]
           ,[ped_estad]
           ,[pe_codigo])
     VALUES
           (@usu_id, @cli_id, @mesa_id, @ep_id,@ped_observacion,@ped_estad,@pe_codigo)
	end
	else
	begin
		UPDATE [dbo].[Pedido]
	   SET [usu_id] = @usu_id
		  ,[cli_id] = @cli_id
		  ,[mesa_id] = @mesa_id
		  ,[ep_id] = @ep_id
		  ,[ped_observacion] = @ped_observacion
		  ,[ped_estad] = @ped_estad
		  ,[pe_codigo] = @pe_codigo
	 WHERE ped_id = @ped_id
	end
END

GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_actualizar_plato2]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_insertar_actualizar_plato2]
(@men_id int, @men_codigo varchar(10), @men_plato varchar(50), @mod_id int, @men_descripcion varchar(250),@men_precio decimal(6,2), @men_imagen image,@men_estado char(1))
AS
BEGIN
	if(@men_id = 0)
	begin
		INSERT INTO [dbo].[Menu]
           ([men_codigo]
           ,[men_plato]
           ,[mod_id]
           ,[men_descripcion]
           ,[men_precio]
           ,[men_imagen]
           ,[men_estado])
     VALUES(@men_codigo, @men_plato, @mod_id, @men_descripcion, @men_precio, @men_imagen, @men_estado)
	end
	else
	begin
	UPDATE [dbo].[Menu]
		SET [men_codigo] = @men_codigo
			,[men_plato] =@men_plato
			,[mod_id] = @mod_id
			,[men_descripcion] = @men_descripcion
			,[men_precio] = @men_precio
			,[men_imagen] = @men_imagen
			,[men_estado] =@men_estado
		WHERE men_id = @men_id
	end
END

GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_actualizar_usuario]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_insertar_actualizar_usuario]
	-- Add the parameters for the stored procedure here
(
	@usu_id int,  
	@per_Id int,  
	@usu_cedula  varchar(13),  
	@usu_nombres varchar(100),  
	@usu_apellidos varchar(100),
	@sex_id int,  
	@usu_direccion varchar(250),  
	@usu_telefono varchar(13),  
	@usu_email varchar(50),  
	@usu_usuario varchar(50),  
	@usu_clave varchar(50),  
	@usu_foto image,  
	@usu_estado varchar(1) 
)
as   
begin  

  if @usu_id=0  
    begin  
		--insertar  

		insert into seg_usuarios  
		(per_Id, usu_cedula, usu_nombres, usu_apellidos,sex_id, usu_direccion, usu_telefono, usu_email, usu_usuario, usu_clave, usu_foto, usu_estado )  
		values  
		(@per_Id, @usu_cedula, @usu_nombres, @usu_apellidos, @sex_id, @usu_direccion, @usu_telefono, @usu_email, @usu_usuario, @usu_clave, @usu_foto, @usu_estado )  

	  end  
  else  
	  begin  
		--modificar  

		 update seg_usuarios  
				set 
				usu_cedula =@usu_cedula,  
				per_Id =@per_Id, 
				usu_nombres =@usu_nombres ,  
				usu_apellidos =@usu_apellidos , 
				sex_id = @sex_id, 
				usu_direccion =@usu_direccion ,  
				usu_telefono=@usu_telefono  ,  
				usu_email =@usu_email ,  
				usu_usuario =@usu_usuario ,  
				usu_clave =@usu_clave ,  
				usu_foto =@usu_foto,  
				usu_estado =@usu_estado
				  
				where usu_id=@usu_id
	  end  
end

GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_eliminar_modalidad]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[sp_insertar_eliminar_modalidad]
( @mod_id int, @mod_descripcion varchar(50), @mod_hora_empieza time, @mod_hora_termina time, @mod_estado char
)
as 
begin
 if(@mod_id = 0)  --Insertar
 begin
	insert into Modalidad(mod_descripcion, mod_hora_empieza, mod_hora_termina, mod_estado)
	values(@mod_descripcion, @mod_hora_empieza, @mod_hora_termina, @mod_estado)
 end
 else
 begin			-- Génros Musil
	Update Modalidad
	set 
	mod_descripcion = @mod_descripcion,
	mod_hora_empieza = @mod_hora_empieza,
	mod_hora_termina = @mod_hora_termina,
	mod_estado = @mod_estado 
	where mod_id = @mod_id
 end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ManPersona]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----------------------------------------------
create procedure [dbo].[sp_ManPersona](
@per_id numeric(18,0),
@PER_IDENTIFICACION varchar(13),
@PER_NOMBRES varchar(50),
@PER_APELLIDOS varchar(50),
@PER_DIRECCION varchar(250),
@PER_TELEFONO varchar(10),
@PER_CORREO varchar(80)
)
as
begin
if @per_id=0
begin

INSERT INTO Cliente
           ([cli_cedula]
           ,[cli_nombres]
           ,[cli_apellidos]
           ,[sex_id]
           ,[cli_direccion]
           ,[cli_celular]
           ,[cli_correo]
           ,[cli_estado])
     VALUES
           (
		     @PER_IDENTIFICACION ,
			@PER_NOMBRES ,
			@PER_APELLIDOS ,
			1 ,
			@PER_DIRECCION ,
			@PER_TELEFONO ,
			@PER_CORREO ,
			'A'
			)
	end
else
begin
update  Cliente
           set [cli_cedula]=@PER_IDENTIFICACION,
            [cli_nombres]=@PER_NOMBRES ,
            [cli_apellidos]=	@PER_APELLIDOS ,
            [cli_direccion]=	@PER_DIRECCION ,
            [cli_celular]=@PER_TELEFONO ,
            [cli_correo]=@PER_CORREO 
          where
		  cli_id=@per_id
end
end


GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_detalle_Pedido]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sergio Floreano
-- Create date: 23/06/2019
-- Description:	Consultar solo los detalles 
-- =============================================
CREATE PROCEDURE [dbo].[sp_obtener_detalle_Pedido]
(@id_pedido int)
AS
BEGIN
select (case det_tipo 
	when 'Comida' then det_pedido
	when 'Combo' then (select c.com_contenido1 + ','+ c.com_contenido2 + ',' + c.com_contenido3 + ','+c.com_bebida from Combo c where c.com_id = dp.dep_codigo_pedido_bebida)
	end) as items
from Detalle_Pedido dp
where dp.ped_id = @id_pedido

END

GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_pedido_servir]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sergio Floreano
-- Create date: 24/06/2019
-- Description:	Obtener pedidos a servir
-- =============================================
CREATE PROCEDURE [dbo].[sp_obtener_pedido_servir]
(@opcion int, @id_estado as int, @cadena varchar(10))
AS
BEGIN

	if(@opcion = 0) --Cargar datos
	begin
		select
			ped_id as id,
			pe_codigo as codigo,
			(select cli_cedula from Cliente where cli_estado = 'A' and cli_id = p.cli_id) as cedula,
			(select cli_nombres + ' ' + cli_apellidos from Cliente where cli_estado = 'A' and cli_id = p.cli_id) as nombres,
			(select m.mesa_codigo from Mesa m where m.mesa_estado = 'A' and m.mesa_id = p.mesa_id) as mesa,
			(select ep.ep_descripcion from Estado_pedido ep where ep.ep_estado = 'A' and ep.ep_id = p.ep_id) as estado
		from Pedido p where ped_estad = 'A' and ep_id = @id_estado
	end
	
	if(@opcion = 1) --Buscar
	begin
		select
			ped_id as id,
			pe_codigo as codigo,
			(select cli_cedula from Cliente where cli_estado = 'A' and cli_id = p.cli_id) as cedula,
			(select cli_nombres + ' ' + cli_apellidos from Cliente where cli_estado = 'A' and cli_id = p.cli_id) as nombres,
			(select m.mesa_codigo from Mesa m where m.mesa_estado = 'A' and m.mesa_id = p.mesa_id) as mesa,
			(select ep.ep_descripcion from Estado_pedido ep where ep.ep_estado = 'A' and ep.ep_id = p.ep_id) as estado
		from Pedido p where ped_estad = 'A' and ep_id = @id_estado and p.pe_codigo = @cadena
	end
END

GO
/****** Object:  StoredProcedure [dbo].[sp_recuperaIdfac]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_recuperaIdfac]
(
@numfac numeric(18,0)
)
as
begin
select CAB_ID from cab_movimiento where cab_num_doc=@numfac
end


GO
/****** Object:  Table [dbo].[CAB_MOVIMIENTO]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CAB_MOVIMIENTO](
	[CAB_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CAB_NUM_DOC] [numeric](18, 0) NOT NULL,
	[CAB_TIPOMOV] [varchar](3) NOT NULL,
	[cli_id] [int] NOT NULL,
	[CAB_FECHA] [date] NOT NULL,
	[CAB_BASE_0] [numeric](9, 2) NOT NULL,
	[CAB_BASE_IMPONIBLE] [numeric](9, 2) NOT NULL,
	[CAB_IVA] [numeric](9, 2) NOT NULL,
	[CAB_VALOR_TOTAL] [numeric](9, 2) NOT NULL,
	[CAB_ESTADO] [varchar](1) NOT NULL,
	[USU_ID] [int] NOT NULL,
	[FECHA_INGRESO] [date] NOT NULL,
	[USU_ID_MOD] [int] NOT NULL,
	[FECHA_MODIFIC] [date] NOT NULL,
 CONSTRAINT [PK_CST_ID_CAB] PRIMARY KEY CLUSTERED 
(
	[CAB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[cli_id] [int] IDENTITY(1,1) NOT NULL,
	[cli_cedula] [varchar](10) NULL,
	[cli_nombres] [varchar](50) NULL,
	[cli_apellidos] [varchar](50) NULL,
	[sex_id] [int] NULL,
	[cli_direccion] [varchar](250) NULL,
	[cli_celular] [varchar](10) NULL,
	[cli_correo] [varchar](100) NULL,
	[cli_estado] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[cli_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Combo]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Combo](
	[com_id] [int] IDENTITY(1,1) NOT NULL,
	[com_codigo] [varchar](10) NULL,
	[mod_id] [int] NULL,
	[com_contenido1] [varchar](75) NULL,
	[com_contenido2] [varchar](75) NULL,
	[com_contenido3] [varchar](75) NULL,
	[com_bebida] [varchar](50) NULL,
	[com_imagen] [image] NULL,
	[com_precio] [decimal](6, 2) NULL,
	[com_posee_descuento] [bit] NULL,
	[com_porcentaje_descuento] [int] NULL,
	[com_estado] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[com_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Detalles_pedidos]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Detalles_pedidos](
	[det_id] [int] IDENTITY(1,1) NOT NULL,
	[CAB_ID] [numeric](18, 0) NOT NULL,
	[ped_id] [int] NULL,
	[dep_codigo_pedido_bebida] [int] NULL,
	[det_pedido] [varchar](50) NULL,
	[det_tipo] [varchar](25) NULL,
	[det_cantidad] [int] NULL,
	[det_precio] [decimal](6, 2) NULL,
	[det_descuento] [bit] NULL,
	[det_porcentaje] [int] NULL,
	[det_subtotal] [decimal](6, 2) NULL,
	[det_total] [decimal](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[det_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Estado_pedido]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Estado_pedido](
	[ep_id] [int] IDENTITY(1,1) NOT NULL,
	[ep_codigo] [varchar](50) NULL,
	[ep_descripcion] [varchar](100) NULL,
	[ep_estado] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ep_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Factura](
	[fact_id] [int] IDENTITY(1,1) NOT NULL,
	[fact_codigo] [varchar](10) NULL,
	[fat_fecha_inicial] [date] NULL,
	[fact_hora] [time](7) NULL,
	[usu_id] [int] NULL,
	[cli_id] [int] NULL,
	[ped_id] [int] NULL,
	[fact_total] [decimal](6, 2) NULL,
	[fact_estado] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[fact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Menu](
	[men_id] [int] IDENTITY(1,1) NOT NULL,
	[men_codigo] [varchar](10) NULL,
	[men_plato] [varchar](50) NULL,
	[mod_id] [int] NULL,
	[men_descripcion] [varchar](250) NULL,
	[men_precio] [decimal](6, 2) NULL,
	[men_imagen] [image] NULL,
	[men_estado] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[men_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mesa]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mesa](
	[mesa_id] [int] IDENTITY(1,1) NOT NULL,
	[mesa_n_asientos] [int] NULL,
	[mesa_estado] [char](1) NULL,
	[mesa_codigo] [varchar](10) NULL,
	[mesa_descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[mesa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Modalidad]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Modalidad](
	[mod_id] [int] IDENTITY(1,1) NOT NULL,
	[mod_descripcion] [varchar](50) NULL,
	[mod_hora_empieza] [time](7) NULL,
	[mod_hora_termina] [time](7) NULL,
	[mod_estado] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[mod_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pedido](
	[ped_id] [int] IDENTITY(1,1) NOT NULL,
	[usu_id] [int] NULL,
	[cli_id] [int] NULL,
	[mesa_id] [int] NULL,
	[ep_id] [int] NULL,
	[ped_observacion] [varchar](250) NULL,
	[ped_estad] [char](1) NULL,
	[pe_codigo] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ped_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[seg_accesos]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[seg_accesos](
	[acc_id] [int] IDENTITY(1,1) NOT NULL,
	[per_id] [int] NULL,
	[men_Id] [int] NOT NULL,
	[acc_estado] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[acc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[seg_Menu]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[seg_Menu](
	[men_Id] [int] IDENTITY(1,1) NOT NULL,
	[men_Id_MenuPadre] [int] NULL,
	[men_Descripcion] [varchar](255) NOT NULL,
	[men_Posicion] [int] NOT NULL,
	[men_ForAsociado] [bit] NOT NULL,
	[men_nombreFrm] [varchar](255) NULL,
	[men_estado] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[men_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[seg_Perfil]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[seg_Perfil](
	[per_id] [int] IDENTITY(1,1) NOT NULL,
	[per_nombre] [varchar](50) NULL,
	[per_descripcion] [varchar](200) NULL,
	[per_estado] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[per_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[seg_Usuarios]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[seg_Usuarios](
	[usu_id] [int] IDENTITY(1,1) NOT NULL,
	[per_id] [int] NOT NULL,
	[usu_cedula] [varchar](100) NOT NULL,
	[usu_nombres] [varchar](100) NOT NULL,
	[usu_apellidos] [varchar](100) NOT NULL,
	[sex_id] [int] NULL,
	[usu_direccion] [varchar](100) NULL,
	[usu_telefono] [varchar](100) NULL,
	[usu_email] [varchar](100) NULL,
	[usu_usuario] [varchar](50) NOT NULL,
	[usu_clave] [varchar](250) NOT NULL,
	[usu_foto] [image] NULL,
	[usu_estado] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sexo]    Script Date: 14/07/2019 12:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sexo](
	[sex_id] [int] IDENTITY(1,1) NOT NULL,
	[sex_descripcion] [varchar](50) NULL,
	[sex_estado] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[sex_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([cli_id], [cli_cedula], [cli_nombres], [cli_apellidos], [sex_id], [cli_direccion], [cli_celular], [cli_correo], [cli_estado]) VALUES (1, N'09500', N'Maria ', N'Castro', 2, N'Santa Elena', N'0999999999', N'maria@hotmail.com', N'A')
INSERT [dbo].[Cliente] ([cli_id], [cli_cedula], [cli_nombres], [cli_apellidos], [sex_id], [cli_direccion], [cli_celular], [cli_correo], [cli_estado]) VALUES (2, N'09501', N'Carlos', N'Orrala', 1, N'Ecuador, Salinas', N'0988888888', N'carlos@gmail.com', N'A')
INSERT [dbo].[Cliente] ([cli_id], [cli_cedula], [cli_nombres], [cli_apellidos], [sex_id], [cli_direccion], [cli_celular], [cli_correo], [cli_estado]) VALUES (3, N'2431', N'Yessica', N'Velardez', 2, N'Ecuador, Santo Domingo', N'0987989898', N'yessica@yahoo.com', N'A')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
SET IDENTITY_INSERT [dbo].[Combo] ON 

SET IDENTITY_INSERT [dbo].[Combo] OFF
SET IDENTITY_INSERT [dbo].[Estado_pedido] ON 

INSERT [dbo].[Estado_pedido] ([ep_id], [ep_codigo], [ep_descripcion], [ep_estado]) VALUES (1, N'Ord', N'Ordenado', N'A')
INSERT [dbo].[Estado_pedido] ([ep_id], [ep_codigo], [ep_descripcion], [ep_estado]) VALUES (2, N'Des', N'Despachado', N'A')
INSERT [dbo].[Estado_pedido] ([ep_id], [ep_codigo], [ep_descripcion], [ep_estado]) VALUES (3, N'Pag', N'Pagado', N'A')
SET IDENTITY_INSERT [dbo].[Estado_pedido] OFF
SET IDENTITY_INSERT [dbo].[Menu] ON 

SET IDENTITY_INSERT [dbo].[Menu] OFF
SET IDENTITY_INSERT [dbo].[Mesa] ON 

INSERT [dbo].[Mesa] ([mesa_id], [mesa_n_asientos], [mesa_estado], [mesa_codigo], [mesa_descripcion]) VALUES (1, 4, N'A', N'm-1', N'Primera Mesa')
INSERT [dbo].[Mesa] ([mesa_id], [mesa_n_asientos], [mesa_estado], [mesa_codigo], [mesa_descripcion]) VALUES (2, 4, N'A', N'm-2', N'Segunda Mesa')
INSERT [dbo].[Mesa] ([mesa_id], [mesa_n_asientos], [mesa_estado], [mesa_codigo], [mesa_descripcion]) VALUES (3, 6, N'A', N'm-3', N'Tercera Mesa')
SET IDENTITY_INSERT [dbo].[Mesa] OFF
SET IDENTITY_INSERT [dbo].[Modalidad] ON 

INSERT [dbo].[Modalidad] ([mod_id], [mod_descripcion], [mod_hora_empieza], [mod_hora_termina], [mod_estado]) VALUES (1, N'Desayunos', CAST(0x070074053F470000 AS Time), CAST(0x0700AC5264600000 AS Time), N'A')
INSERT [dbo].[Modalidad] ([mod_id], [mod_descripcion], [mod_hora_empieza], [mod_hora_termina], [mod_estado]) VALUES (3, N'Almuerzos', CAST(0x0700E03495640000 AS Time), CAST(0x07006C2F561D0000 AS Time), N'A')
INSERT [dbo].[Modalidad] ([mod_id], [mod_descripcion], [mod_hora_empieza], [mod_hora_termina], [mod_estado]) VALUES (4, N'Merienda', CAST(0x0700E80A7E8E0000 AS Time), CAST(0x07002058A3A70000 AS Time), N'A')
SET IDENTITY_INSERT [dbo].[Modalidad] OFF
SET IDENTITY_INSERT [dbo].[Pedido] ON 

INSERT [dbo].[Pedido] ([ped_id], [usu_id], [cli_id], [mesa_id], [ep_id], [ped_observacion], [ped_estad], [pe_codigo]) VALUES (8, 2, 1, 1, 4, N'', N'A', N'123')
INSERT [dbo].[Pedido] ([ped_id], [usu_id], [cli_id], [mesa_id], [ep_id], [ped_observacion], [ped_estad], [pe_codigo]) VALUES (9, 2, 4, 1, 4, N'', N'A', N'111')
INSERT [dbo].[Pedido] ([ped_id], [usu_id], [cli_id], [mesa_id], [ep_id], [ped_observacion], [ped_estad], [pe_codigo]) VALUES (10, 2, 3, 1, 4, N'', N'A', N'222')
SET IDENTITY_INSERT [dbo].[Pedido] OFF
SET IDENTITY_INSERT [dbo].[seg_accesos] ON 

INSERT [dbo].[seg_accesos] ([acc_id], [per_id], [men_Id], [acc_estado]) VALUES (1, 1, 1, N'A')
INSERT [dbo].[seg_accesos] ([acc_id], [per_id], [men_Id], [acc_estado]) VALUES (2, 1, 2, N'A')
INSERT [dbo].[seg_accesos] ([acc_id], [per_id], [men_Id], [acc_estado]) VALUES (3, 1, 3, N'A')
SET IDENTITY_INSERT [dbo].[seg_accesos] OFF
SET IDENTITY_INSERT [dbo].[seg_Menu] ON 

INSERT [dbo].[seg_Menu] ([men_Id], [men_Id_MenuPadre], [men_Descripcion], [men_Posicion], [men_ForAsociado], [men_nombreFrm], [men_estado]) VALUES (1, 0, N'Administracion', 1, 0, NULL, N'A')
INSERT [dbo].[seg_Menu] ([men_Id], [men_Id_MenuPadre], [men_Descripcion], [men_Posicion], [men_ForAsociado], [men_nombreFrm], [men_estado]) VALUES (2, 0, N'Registros', 1, 0, NULL, N'A')
INSERT [dbo].[seg_Menu] ([men_Id], [men_Id_MenuPadre], [men_Descripcion], [men_Posicion], [men_ForAsociado], [men_nombreFrm], [men_estado]) VALUES (3, 0, N'Pedidos', 1, 0, NULL, N'A')
SET IDENTITY_INSERT [dbo].[seg_Menu] OFF
SET IDENTITY_INSERT [dbo].[seg_Perfil] ON 

INSERT [dbo].[seg_Perfil] ([per_id], [per_nombre], [per_descripcion], [per_estado]) VALUES (1, N'administrador', N'Acceso total del sistema', N'A')
INSERT [dbo].[seg_Perfil] ([per_id], [per_nombre], [per_descripcion], [per_estado]) VALUES (2, N'gerente', N'Acceso a mesa, usuario, modalidad', N'A')
INSERT [dbo].[seg_Perfil] ([per_id], [per_nombre], [per_descripcion], [per_estado]) VALUES (3, N'jefe de cocina', N'Acceso a Menu, Combo', N'A')
SET IDENTITY_INSERT [dbo].[seg_Perfil] OFF
SET IDENTITY_INSERT [dbo].[seg_Usuarios] ON 

INSERT [dbo].[seg_Usuarios] ([usu_id], [per_id], [usu_cedula], [usu_nombres], [usu_apellidos], [sex_id], [usu_direccion], [usu_telefono], [usu_email], [usu_usuario], [usu_clave], [usu_foto], [usu_estado]) VALUES (2, 4, N'2401', N'Karen', N'Tigrero', 2, N'Ecuador, Santa Elena', N'0987554', N'karen@gmail.com', N'karen', N'075065082069078', NULL, N'A')
INSERT [dbo].[seg_Usuarios] ([usu_id], [per_id], [usu_cedula], [usu_nombres], [usu_apellidos], [sex_id], [usu_direccion], [usu_telefono], [usu_email], [usu_usuario], [usu_clave], [usu_foto], [usu_estado]) VALUES (3, 2, N'2402', N'Dayana', N'Diaz', 2, N'Ecuador,Quito', N'098767453', N'dayana@outlook.com', N'dayana', N'068065089065078065', NULL, N'A')
SET IDENTITY_INSERT [dbo].[seg_Usuarios] OFF
SET IDENTITY_INSERT [dbo].[Sexo] ON 

INSERT [dbo].[Sexo] ([sex_id], [sex_descripcion], [sex_estado]) VALUES (1, N'Masculino', N'A')
INSERT [dbo].[Sexo] ([sex_id], [sex_descripcion], [sex_estado]) VALUES (2, N'Femenino', N'A')
INSERT [dbo].[Sexo] ([sex_id], [sex_descripcion], [sex_estado]) VALUES (3, N'Bisexual', N'A')
SET IDENTITY_INSERT [dbo].[Sexo] OFF
ALTER TABLE [dbo].[CAB_MOVIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_CNST_CAB_Cliente] FOREIGN KEY([cli_id])
REFERENCES [dbo].[Cliente] ([cli_id])
GO
ALTER TABLE [dbo].[CAB_MOVIMIENTO] CHECK CONSTRAINT [FK_CNST_CAB_Cliente]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD FOREIGN KEY([sex_id])
REFERENCES [dbo].[Sexo] ([sex_id])
GO
ALTER TABLE [dbo].[Combo]  WITH CHECK ADD FOREIGN KEY([mod_id])
REFERENCES [dbo].[Modalidad] ([mod_id])
GO
ALTER TABLE [dbo].[Detalles_pedidos]  WITH CHECK ADD  CONSTRAINT [FK_CNST_DETALLE_CABECERA] FOREIGN KEY([CAB_ID])
REFERENCES [dbo].[CAB_MOVIMIENTO] ([CAB_ID])
GO
ALTER TABLE [dbo].[Detalles_pedidos] CHECK CONSTRAINT [FK_CNST_DETALLE_CABECERA]
GO
ALTER TABLE [dbo].[Detalles_pedidos]  WITH CHECK ADD  CONSTRAINT [FK_CNST_DETALLE_PEDIDOS] FOREIGN KEY([ped_id])
REFERENCES [dbo].[Pedido] ([ped_id])
GO
ALTER TABLE [dbo].[Detalles_pedidos] CHECK CONSTRAINT [FK_CNST_DETALLE_PEDIDOS]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD FOREIGN KEY([cli_id])
REFERENCES [dbo].[Cliente] ([cli_id])
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD FOREIGN KEY([ped_id])
REFERENCES [dbo].[Pedido] ([ped_id])
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD FOREIGN KEY([usu_id])
REFERENCES [dbo].[seg_Usuarios] ([usu_id])
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD FOREIGN KEY([mod_id])
REFERENCES [dbo].[Modalidad] ([mod_id])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([cli_id])
REFERENCES [dbo].[Cliente] ([cli_id])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([mesa_id])
REFERENCES [dbo].[Mesa] ([mesa_id])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([usu_id])
REFERENCES [dbo].[seg_Usuarios] ([usu_id])
GO
ALTER TABLE [dbo].[seg_accesos]  WITH CHECK ADD FOREIGN KEY([men_Id])
REFERENCES [dbo].[seg_Menu] ([men_Id])
GO
ALTER TABLE [dbo].[seg_accesos]  WITH CHECK ADD FOREIGN KEY([per_id])
REFERENCES [dbo].[seg_Perfil] ([per_id])
GO
ALTER TABLE [dbo].[seg_Usuarios]  WITH CHECK ADD FOREIGN KEY([per_id])
REFERENCES [dbo].[seg_Perfil] ([per_id])
GO
ALTER TABLE [dbo].[seg_Usuarios]  WITH CHECK ADD FOREIGN KEY([sex_id])
REFERENCES [dbo].[Sexo] ([sex_id])
GO
USE [master]
GO
